*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 873px;
    height: 988px;
}
 form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.nome{
    display: flex;
}